.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}

.ui-layout-north {
    z-index: 30 !important;
    overflow: visible !important;
}

.ui-panelgrid td {
	border-style: hidden !important;
}

.ui-picklist .ui-picklist-list {
	height: 100px !important;
}

.removeIcon {
	background: url(../images/remove.png) 0 0 no-repeat !important;
}

.saveIcon {
	background: url(../images/save.png) 0 0 no-repeat !important;
}

.editIcon {
	background: url(../images/edit.png) 0 0 no-repeat !important;
}

.visualizeIcon {
	background: url(../images/visualize.png) 0 0 no-repeat !important;
}

.printerIcon {
	background: url(../images/printer.png) 0 0 no-repeat !important;
}

.eraserIcon {
	background: url(../images/eraser.png) 0 0 no-repeat !important;
}

.loginIcon {
	background: url(../images/login.png) 0 0 no-repeat !important;
}

.starIcon {
	background: url(../images/star.png) 0 0 no-repeat !important;
}

.logoutIcon {
	background: url(../images/logout.png) 0 0 no-repeat !important;
}

.studentIcon {
	background: url(../images/student.png) 0 0 no-repeat !important;
}

.teacherIcon {
	background: url(../images/teacher.png) 0 0 no-repeat !important;
}

.scheduleIcon {
	background: url(../images/schedule.png) 0 0 no-repeat !important;
}

.ui-button-panelGrid {
	width: 20px;
	height: 20px;	
}
